@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
*{
    padding: 0;
    margin: 0;
}


/* *************************************Header***************************************** */

header{
    background-color: rgb(31, 39, 39);
    color: blanchedalmond;
}

nav{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 8vh;
    /* padding: 20px; */
}

header nav ul{
    display: flex;
    /* height: 40px; */
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

header nav ul li{
    list-style: none;
    /* padding: 0px 20px; */
    padding: 0 2vw;
}

header nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}

header nav ul li a:hover{
    font-weight: bold;
    color: green;
}

.search{
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    height: 7vh;
    width: 30vw;
    border-radius: 8px;
    padding: 0 6px;
    /* margin: 35px; */
}


/* *************************************Main Body***************************************** */

/* body{
    background-image: url("https://sourse.unsplash.com/160x160/?ball");
    background-size: cover;
} */

/* .main{
    margin-top: 50px;
} */

.container{
    /* height: calc(100vh - 70px - 9vh); */
    background-color: rgb(254, 253, 253);
    overflow: hidden;
}

.top{
    height: 45vh;
    margin: auto;  
    margin-top: 15px;
    width: 90vw;
    background-color: rgb(133, 211, 95);
    overflow: hidden;
}
.top img{
    height: 35vh;
}



/* *************************************Footer***************************************** */

footer{
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
