*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: blueviolet;
    height: 75vh;
    width: 50vh;
    min-height: 50vh;
    max-height: 100vh;    
    min-width: 50vw;
    max-width: 100vw;
}

.box{
    background-color: red;
}